@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

.header {
  margin: 0 auto 56px;
  width: 1110px;
}

.header__title {
  display: inline-block;
  margin: 0 184px 0 0;
}

.header__logo {
  font-size: 24px;
  line-height: 32px;
  color: #10375C;
}

.header__nav {
  display: inline-block;
}

.header__item {
  display: inline-block;
  /* width: 194px; */
  height: 43px;
  margin-left: 20px;
}

.header__log-in {
  color: #FF5722;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 24px;
  height: 43px;
  width: 92px;
}

.header__sign-un {
  padding: 12px 24px;
  background: #FF5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
  color: #FFFFFF;
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  height: 43px;
  width: 103px;
}

.nav__menu {
  height: 28px;
  /* width: 562px; */
}

.nav__list li {
  display: inline-block;
}

.nav__link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #222831;
  margin: 0 40px 0 0;
}

body {
  height: 2500px;
  margin: 60px auto;
}

.page__body {
  width: 1110px;
  margin: 0 auto;
}

.page__item {
  color: #222831;
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.page__item::after {
  content: "";
  background: #222831;
  width: 73px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

.page__conteiner {
  width: 1110px;
  height: 201px;
}

.page__title {
  display: inline-block;
  width: 667px;
  height: 201px;
  font-family: Lora;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #10375C;
  margin: 0 55px 0 0;
}

.page__title span {
  color: #dd2c00;
}

.page__subtitle {
  display: inline-block;
  width: 382px;
  height: 120px;
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
  vertical-align: top;
  margin: 10px 0 0 0;
}

/* ==================================================== */

.page__whyfrispes {
  width: 1110px;
  margin: 0 auto;
  margin-top: 70px;
  width: 1110px;
  height: 421px;
}

.frispes-page {
  position: relative;
  margin: 0 0 0 35px;
}

.frispes-page__column {
  display: inline-block;
  position: relative;
  margin: 30px 117px 0 0;
}

.frispes-page__item {
  margin: 0 0 64px 0;
}

.frispes-page__image {
  position: absolute;
  right: 100%;
}

.frispes-page__conteiner {
  margin: 0 0 0 24px;
}

.frispes-page__numbers {
  position: relative;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #10375C;
}

.frispes-page__info {
  font-family: lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.frispes-page__content {
  position: absolute;
  top: 0;
  right: 0;
  width: 540px;
  height: 421px;
  display: inline-block;
  background: #10375C;
  padding: 54px;
  color: white;
}

.frispes-page__title {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 24px;
}

.frispes-page__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.logo {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  margin-left: 0;
}

.logo_white {
  font-size: 20px;
  line-height: 30px;
}

.logo_white::after {
  content: "";
  background: white;
  width: 73px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

/* =========================================== */

.page__use {
  width: 1175px;
  margin: 0 auto;
  margin-top: 112px;
}

.use-page__head {
  margin: 0 auto 56px;
  height: 103px;
  width: 633px;
}

.use-page__title {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #0D2C4A;
  margin-bottom: 24px;
}

.use-page__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9A9A9A;
}

.use-page__footer {
  height: 66.63327026367188px;
  width: 1175.530029296875px;
}

.use-page__item {
  margin: 0 50px 0 0;
}

.use-page__item:last-child {
  margin-right: 0;
}

/* ===================================== */

.news-page {
  margin: 90px 0 0 0;
  background: #F8F8F8;
}

.news-page__body {
  margin: 0 auto;
  width: 1110px;
}

.news-page__title {
  padding: 60px 0 60px 0;
}

.news-page__items {
  height: 400px;
  width: 1440px;
}

.news-page__column {
  display: inline-block;
  margin: 30px 41px 0 0;
  height: 320px;
  width: 350px;
  background: white;
}

.news-page__column:hover {
  background-color: rgba(0, 0, 255, 0.226);
}

.news-page__content {
  padding: 14px 16px;
}

.news-page__subtitle {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
  margin-bottom: 24px;
}

.news-page__info {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
  height: 56px;
  width: 318px;
}

.news-page__autor {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.news-page__name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.news-page .title {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}

/* ================================================ */

.page__context {
  background: #10375C;
  height: 460px;
  width: 100%;
  /* width: 1440px; */
}

.context-page {
  display: inline-block;
  margin: 0 208px 0 0;
}

.context-page__columns {
  margin: 0 auto;
  width: 1440px;
}

.context-page__column {
  vertical-align: top;
  display: inline-block;
}

.context-page__items {
  margin: 75px 0 0 165px;
  height: 302px;
  width: 445px;
}

.context-page__offer {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #F8F8F8;
}

.context-page__offer::after {
  content: "";
  background: #F8F8F8;
  width: 73px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

.context-page__title {
  margin: 0 0 16px 0px;
}

.context-page__info {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #DFDFDF;
  margin: 0 0 33px 0;
}

.context-page__button {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 13px 114px;
  background: #FF5722;
  width: 350px;
  height: 53px;
}

.context-page__button span {
  color: #FFFFFF;
}

.context-page__button:hover {
  -webkit-box-shadow: 2px 4px 8px 0px #000000b2;
          box-shadow: 2px 4px 8px 0px #000000b2;
}

._no-webp .context-page__image{
  background: url("../img/Pattern.png") -60px 100px no-repeat; }

.context-page__image {
  margin: -44px 0 0 250px;
  /* position: absolute;
		right: 245px; */
}

.title {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}

/* ===============Практика======================== */

/* ===========Переменные================= */

/* $colorRed: blue;

.page {
	// .page__block
	&__block {}
	// .page__infotitle
	&__infotitle {
		font-weight: 700;
		font-size: 30px;
		color: red;
	}
	// .page__text
	&__text {
		color: $colorRed;
	}
} */

/* =============Миксины========================= */

/* $colorRed: blue;

@mixin someParams($color, $size) {
	border: 1px solid $color;
	color: $color;
	font-size: $size;
}
.page {
	// .page__block
	&__block {
		margin-top: 50px;
	}
}
.block-page {
	// .block-page__infotitle
	&__infotitle {
		font-weight: 700;
		font-size: 30px;
		@include someParams(red, 30px) 
	}
	// .block-page__text
} */

._webp .context-page__image{ background: url(../img/Pattern.webp) -60px 100px no-repeat; }